[Desktop Entry]
Type=Application
Name=Tasks Tracker
Comment=Track time for tasks
Exec=tasks_tracker_client
Icon=io.github.drizt.tasks_tracker_client
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=io.github.drizt.tasks_tracker_client
